@import url('https://fonts.googleapis.com/css2?family=Onest:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Russo+One&display=swap');
/* stylelint-disable-next-line import-notation */
// @import "toastr";

@import 'tailwindcss/base';

@import 'tailwindcss/components';

@import 'tailwindcss/utilities';


:host{
    height: 100vh;
    width: 100vw;
}
.app{
    position: fixed;
    z-index: 10;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    color-scheme: dark;
}

@import url('./fragment/loaders.scss');
@import url('./fragment/sceleton.scss');
@import url('./fragment/playlist.scss');

@keyframes wiggle {
    0% {
        transform: translateY(1px);
    }

    50% {
        transform: translateY(-45px);
    }

    100% {
        transform: translateY(1px);
    }
}

