<div class="mb-2">
    <h1 class="relative text-3xl font-semibold text-white">
        Upload
    </h1>
</div>

<div class="text-white  pointer-events-none mb-7  select-none pr-[0%] text-justify 
leading-5 md:pr-[27%]
">
    Загружайте на сервер треки на платформу. 
    Мы подгрузим необходимую метаинформацию по названию трека, 
    чтобы можно было послушать трек с другого устройства.
</div>

<div class="mb-2">
    <h1 class=" text-2xl font-semibold text-white">
        Upload feature
    </h1>
</div>

<div class="relative flex w-full flex-col 
items-center rounded-3xl border-2 border-transparent 
py-8 transition">
    <div>
        <input type="text" accept="audio">
    </div>
    <div>
        <div class="pointer-events-none mb-3 select-none text-center transition text-white">
            Выберите из фолдера или перетащите в этот блок
        </div>
        <button type="button" class="rounded-full 
        border border-transparent bg-green-500 px-3 
        py-3 transition-all hover:opacity-75 
        disabled:cursor-not-allowed disabled:opacity-50 
        text-lg font-normal tracking-wide text-white w-full">
        Выбрать треки
    </button>
    </div>
</div>

<div class="mb-2">
    <h1 class=" text-2xl font-semibold text-white">
        Added files
    </h1>
</div>


<div class="mb-2">
    <h1 class=" text-2xl font-semibold text-white">
        РЕАЛИЗОВАТЬ ДАННУЮ ФИЧУ
    </h1>
</div>