<div class="mb-4 flex w-full items-center justify-between">
    <div class="hidden items-center gap-x-2 md:flex">
        <button type="button" class="flex h-[35px] w-[35px]
            cursor-pointer items-center justify-center
            rounded-full bg-black
            transition hover:opacity-75
            ">
            <icon-builder iconTitle="leftArrow" class="mr-[2px]"/>
        </button>
        <button type="button" class=" flex h-[35px] w-[35px]
            cursor-pointer items-center justify-center
            rounded-full bg-black
            transition hover:opacity-75
            ">
            <icon-builder iconTitle="rightArrow" class="ml-[2px]"/>
        </button>
    </div>
    <div class="flex items-center gap-x-2 md:hidden">
        <button type="button" class="flex cursor-pointer items-center justify-center
            rounded-full bg-white p-2 transition
            hover:opacity-75">
            <icon-builder iconTitle="home" class=" scale-90"/>
        </button>
        <button type="button" class="flex cursor-pointer items-center justify-center
            rounded-full bg-white p-2 transition
            hover:opacity-75">
            <icon-builder iconTitle="search" class=" scale-90"/>
        </button>
        <button type="button" class="flex cursor-pointer items-center justify-center
            rounded-full bg-white p-2 transition
            hover:opacity-75">
            <icon-builder iconTitle="upload" class=" scale-90"/>
        </button>
    </div>

    <div class="relative flex items-center justify-between transition-all duration-300">
        <sp-button class=' bg-white aspect-square h-[40px] transition-all duration-150 
        flex justify-center items-center rounded-[50%] cursor-pointer'>
            <icon-builder iconTitle="info" />
        </sp-button>
        <sp-button class=" rounded-full border border-transparent
        font-bold text-black transition-all
        ml-3 flex w-24 items-center justify-center bg-white 
        px-6 py-2 cursor-pointer">
            Войти
        </sp-button>
    </div>
</div>