<article class="flex h-full w-full items-center justify-center
        bg-neutral-900/0 transition duration-100
        animate bg-neutral-900/70">
    <div class="rounded-xl bg-[#282828] px-5 pb-5 pt-2 transition 
        duration-300 w-[90%] max-w-[540px] sm:w-[60%] scale-100"
        [ngClass]="{hiddenModalContainer : !isOpenModal}"
        >
        <ng-container 
            *ngTemplateOutlet="modalOutlet">
        </ng-container>
    </div>
</article>


<ng-template #loginTemplate>
    <div class="dsadsa"></div>
</ng-template>


<ng-template #authTemplate>
    <sp-auth-modal/>
</ng-template>


<ng-template #noneTemplate>
    none
</ng-template>