<div class="relative h-[64px] w-[64px]">
    <div class="sceleton h-full w-full object-cover  "></div>
</div>
<div class="flex w-[50%] flex-col">
    <p class="sceleton mb-2 w-full truncate py-2 font-medium"></p>
    <p class="sceleton w-[60%] truncate py-3  font-medium"></p>
</div>
<div class="absolute right-5 flex items-center justify-center rounded-full 
    bg-green-500 p-4 opacity-0 drop-shadow-md 
    transition hover:scale-110 group-hover:opacity-100
    ">
    <icon-builder iconTitle='likedSongs' />
</div>